*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color:#f4f5f6;
    padding: 10px 20px;
    color: white;
}
.nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.nav ul li{
    color:black;
    font-size: 14px;
    transition: opacity 0.3s;
    cursor: pointer;
}
.nav ul li:hover{
    opacity: 0.7;
}
.nav ul li.logo img{
    width: 18px;
    height: auto;
    /* display: block; */
    position: relative;
    top: -2px;
}
.nav ul li .sicon{
    font-size: 20px;
    content: #fff;
    vertical-align: middle;
    opacity: 0.9;
    transition: opacity 0.3s;
    cursor: pointer

}
.nav ul li .wishlist{
    font-size: 20px;
    content: black;
    vertical-align: middle;
    opacity: 0.9;
    transition: opacity 0.3s;
    cursor: pointer

}
.banner{
    text-align: center;
    background-color: #fffefe;
    padding: 10px 20px;
    font-size: 14px;
}
.banner a{
    color: #06c;
    text-decoration: none;
    font-weight: 500;
}
.banner a:hover{
    text-decoration: underline;
}
.storesec{
    background-color:#f4f5f6;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 100px;
}
.storeleft{
    max-width: 60%;
    font-size: 1.8rem;
    line-height: 1.4;
    display: flex;
}
.storeleft h1{
    font-weight: bold;
    font-size: 48px;
    /* display: inline; */
    /* letter-spacing: -0.144px;
    line-height: 52.0072px; */
}
.storeleft .subheader{
    font-size: 48px;
    font-weight: 600;
    color: #555;
    /* display: inline;
    letter-spacing: -0.144px;
    line-height: 67.2px; */

}
.storeright{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 0.9rem;
}
.storeitem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.storeitem img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.storetext strong{
    display: block;
}
.storetext a{
   text-decoration: none;
   color: #0071e3;
}
.storetext span{
   color: #555;
   font-size: 0.85rem;
}
.menu{
    display: flex;
    justify-content:left;
   padding-left: 90px;
    gap: 30px;
    /* padding: 20px; */
    padding-bottom: 30px;
    background-color:#f4f5f6; 
}
.menuitem{
    text-align: center;
    font-size: 14px;
}
.menuitem img{
    width: 120px;
    height: auto;
    display: block;
    margin: 0 auto 8px;
}
.subhead{
    display: flex;
    font-size: 25px;
    background-color: #f4f5f6;
}